*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-feature-settings: "tnum";
    font-size: 14px;
    font-variant: tabular-nums;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(28, 27, 27);
    padding: 20px;
    border-color: hsl(var(--sd-border));
    border: 0 solid;
    box-sizing: border-box;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}
h1{
    font-size: 2rem;
    text-align: center;
}
.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
.user-input-container{
    display: flex;
    justify-content: space-between;
}
#user-input{
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #444;
    width: 73%;
    padding: 0.5rem;
    border-radius: 6px;
    outline: none;
}
#user-input::placeholder {
    color: #ffffff;
    opacity: 1;
}
#user-input:-webkit-autofill,
#user-input:-webkit-autofill:hover,
#user-input:-webkit-autofill:focus,
#user-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #1f1f1f inset !important;
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 5000s ease-in-out 0s;
}

#search-btn{
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #444;
    padding: 0.4rem;
    width: 26.3%;
    border-radius: 5px;
    outline: none;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: white;
    position: relative;

    background: rgb(26 26 26);
}
.circle::before{
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 50%;

    background: conic-gradient(
        var(--lc-color) 0% var(--progress-degree, 0%),
        #2c2c2c var(--progress-degree, 0%) 100%
    );

    mask: radial-gradient(farthest-side, transparent calc(100% - 6px), black 0);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 6px), black 0);
}

.circle span{
    position: relative;
    z-index: 2;
}
.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
.easy {
    --lc-color: #00b8a3;
}

.medium {
    --lc-color: #ffc01e;
}

.hard {
    --lc-color: #ef4743;
}
.circle-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
}

.count{
    font-size: 17.5px;
    font-weight: 750;
    color: var(--lc-color);
}

.difficulty-text{
    font-size: 13.5px;
    font-weight: 700;
    margin-top: 4px;
    color: var(--lc-color);
}
.stats-card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    
}
.card{
    background-color: #2cbb5d1f;
    color: #2cbb5d;
    width: 250px;
    height: 55px;
    padding: 0.4rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 17.5px;
    font-weight: 550;
}
.hidden {
    display: none;
}
